<div class="content2" fxLayout="column" fxFill>

    <div fxFlex class="selections">
        <app-select-graph (dbName)="onDbNameChanged($event)" style="display:block;"></app-select-graph>
        <app-time-stamp *ngIf="timeSpan" (timeStamp)="onFromChanged($event)" label="From" style="display:block;" [timeSpan]="timeSpan">
        </app-time-stamp>
        <app-time-stamp *ngIf="timeSpan" (timeStamp)="onToChanged($event)" label="To" style="display:block;" [timeSpan]="timeSpan">
        </app-time-stamp>
        <mat-radio-group [(ngModel)]="timeDim">
            <mat-radio-button value="valid">Valid Time</mat-radio-button>
            <mat-radio-button value="transaction">Transaction Time</mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-button color="primary" (click)="onExecute()">Execute</button>
    <app-graph-canvas fxFlex [forceLayout]="false" [drawGraphEvent]="drawGraphSubject.asObservable()" [showDiff]="true"></app-graph-canvas>


</div>