/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-body-wrapper{
  flex-grow: 1;
}

.selections {
    color:black;
  }
  
  .canvas1 {

    border-color:black;
    border-width: 1px;
    border-radius: 20px;
    border-style:solid;   
  }
  .canvas2 {

    border-color:black;
    border-width: 1px;
    border-radius: 20px;
    border-style:solid;   
  }
  .canvas3 {

    border-color:black;
    border-width: 1px;
    border-radius: 20px;
    border-style:solid;   
  }
  
  .content1, .content2, .content3 {
    height:100%;
  }
  
  .content1 {
    min-width: 300px;
    /*height: 400px;*/
  }
  .content2 {
    min-width: 300px;
    /*height: 400px;*/
  }
  .content3 {
    min-width: 300px;
    /*height: 400px;*/
  }

  mat-card { padding-bottom: 10px; }

  .mat-tab-body-wrapper{
    flex-grow: 1;
  }
